<footer>
  <div class="grid grid1x2">
    <img class="icon icon-footer" src="./images/logo.svg" alt="" />
    <ul class="footer-content">
      <li>
        <a class="footer-control" href="https://www.facebook.com/tristen.hobba"
          >Facebook</a
        >
      </li>
      <li>
        <a class="footer-control" href="mailto:tristenhobba1@gmail.com"
          >Email</a
        >
      </li>
      <li>
        <a
          class="footer-control"
          href="https://www.linkedin.com/in/tristen-hobba-a06a131b3/"
          >Linkedin</a
        >
      </li>
    </ul>
  </div>
  <p class="copyright">Copyright ©️ 2022 Tristen Hobba</p>
</footer>
<div id="bottom"></div>
